################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestProject/bin
/TestProject/obj
/.vs/TestAPIs
/TestAPIs/bin
/TestAPIs/obj
/TestAPIs/Properties/PublishProfiles
/TestAPIs/TestAPIs.csproj.user
